<div>
    <span *ngFor="let item of case | async | keyvalue">
        {{item.key}} : {{item.value}}
    </span>

</div>
<mat-toolbar-row>
    <span>View my Cases</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
</mat-toolbar-row>


<mat-accordion class="example-headers-align">

    <ng-container *ngFor="let case of this.caseObjects; let i = index">
        <mat-expansion-panel [expanded]="step === i" (opened)="setStep(i)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span>
                        <mat-icon>folder</mat-icon>
                    </span>
                    {{case.name}}
                </mat-panel-title>
                <mat-panel-description>
                    {{case.deadline.toDate() | date: 'dd MMM hh:mm'}}

                </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- <mat-list>
                <h3 mat-subheader>Folders</h3>
                <mat-list-item *ngFor="let folder of folders">
                    <mat-icon mat-list-icon>folder</mat-icon>
                    <h4 mat-line>{{folder.name}}</h4>
                    <p mat-line> {{folder.updated | date}} </p>
                </mat-list-item>
                <mat-divider></mat-divider>
                <h3 mat-subheader>Notes</h3>
                <mat-list-item *ngFor="let note of notes">
                    <mat-icon mat-list-icon>note</mat-icon>
                    <h4 mat-line>{{note.name}}</h4>
                    <p mat-line> {{note.updated | date}} </p>
                </mat-list-item>
            </mat-list> -->

            <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
        </mat-expansion-panel>
    </ng-container>
    <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">End</button>
    </mat-action-row>
</mat-accordion>