<!-- <app-navbar></app-navbar> -->
<ng-container *ngIf="authService.user | async">

    <div class="container">

        <div class="card-profile" [ngStyle]="object">
            <div class="card-profile_visual">
            </div>

            <div class="card-profile_user-infos">
                <span class="infos_name">{{ (authService.user | async)?.displayName }}</span>
                <span class="infos_nick">{{ (authService.user | async)?.email }}</span>

                <a href="#"></a>
            </div>

            <div class="card-profile_user-stats">
                <div class="stats-holder">
                    <div class="user-stats">
                        <strong>New</strong>
                        <span><button *ngIf="authService.user | async" mat-raised-button color="warn"
                                (click)="createNewCase()">Add New
                                Case</button></span>
                    </div>
                    <div class="user-stats">
                        <strong>View</strong>
                        <span> <a *ngIf="authService.user | async" mat-raised-button
                                [routerLink]="['/', 'viewCases']">View Cases</a></span>
                    </div>
                    <div class="user-stats">
                        <strong>Leave</strong>
                        <span><button mat-raised-button (click)="logout()" *ngIf="authService.user | async">
                                Logout</button></span>
                    </div>
                </div>
            </div>

        </div>

    </div>


</ng-container>

<div *ngIf="!(authService.user | async)">

    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <mat-form-field>
                <input matInput #input maxlength="10" placeholder="email" [(ngModel)]="email">
            </mat-form-field>
            <br>
            <mat-form-field hintLabel="Max 10 characters">
                <input matInput #input maxlength="10" placeholder="password" [(ngModel)]="password">
                <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="googleSignUp()"> Google Sign In</button>
            <button mat-raised-button color="accent" (click)="login()" [disabled]="!email || !password">Login</button>
            <button mat-raised-button (click)="signup()" [disabled]="!email || !password"> Signup</button>
            <!-- <button mat-raised-button color="warn" (click)="createNewCase()">Add New Case</button> -->
        </mat-card-actions>
    </mat-card>

</div>